body{
      background: #f7f7f7;
    }
    h3{
     
      font-size: 48px;
    }
    .right-head{
      font-size: 14px;
      font-size: .875rem;
      line-height: 1.4285714286;
      font-family: norms,sans-serif;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%) translateY(-50%);
      z-index: 1;
      padding: 8px 16px 6px;
      width: calc(100% - 64px);
      background-color: #fff;
      border: 1px solid #05f;
      color: #05f;
      letter-spacing: .1em;
      text-transform: uppercase;
    }

    .col-lg-6.col-md-5.mb-4.col-sm-12.mb-md-0 {
      padding: 30px;
    }
    .right-box{
      position: relative;
      background-color: #fff;
      box-shadow: 0 2px 10px rgb(0 0 0 / 8%);
      border: none;
    }
    .buttn{
     padding-left: 15px;
     padding-right: 15px;
     padding-top: 15px;
     
   }
   p.tees {
    margin-left: 31px;
    text-align: left;
  }
  .list-group-item {
    position: relative;
    display: block;
    padding: 0.95rem 1.40em;
    margin-bottom: -1px;
    background-color: #fff;
    border: none !important;
  }
  .icon-img{
   border: 1px solid #05f;
   border-radius: 25px;
   padding: 10px;
   background: #f7f7f7
 }
 li.list-group-item {
  display: flex;
}
.form-control{
  margin-top: 11px;
}
#error_message{
  color: #f01c1c;
  display: none;
}
.scroll-to-top {
  position: fixed;
  bottom: 27px;
  right: 15px;
  width: 109px;
  height: 50px;
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 48px;
  text-align: center;
  z-index: 99999;
  cursor: pointer;
  border-radius: 3px;
  
  display: none;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px)  {

  .row{
    flex-wrap: wrap-reverse;
  }
}

@media only screen and (min-device-width: 600px){
  .row{
    flex-wrap: wrap-reverse;
  }

}